rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // 게시물 이미지
    match /posts/{userId}/{postId}/{fileName} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // 프로필 이미지
    match /profiles/{userId}/{fileName} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
} 